/**
 * CUSTOM CSS & ANIMATIONS for dynamically-generated content
 *
 * @format
 */


/* NOTE TO SELF: any linkable content needs to have pointer-events set to auto */

/* filter touch events */

#touchzone {
	pointer-events: auto;
}

#pagecontent {
	pointer-events: none;
}

#detailgrp {
	pointer-events: none;
}

#onboardinggrp {
	pointer-events: none;
}

#swipefeedbackgrp {
	pointer-events: none;
}

#detailgrp-linkbox {
	pointer-events: auto;
}

#blackout-front {
	pointer-events: none;
}

.aboutfrontmatter a {
	pointer-events: auto;
	color: rgba(243, 243, 243, 0.9);
	text-decoration: none;
}

/* PREVENT FONT SIZES FROM RESCALING DUE TO OS PREFERENCE?*/
.body {
	-webkit-text-size-adjust: 100%;
}


/* USED TO TEMPORARILY CLEAR TRANSITIONS / SET VALUES IMMEDIATELY */
.disable-css-transitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


/* FOR DYNAMICALLY-CREATED DIVS */
.rsRow {
	display: none;
	position: relative;
	transition: transform 1.75s cubic-bezier(0.08, 1.35, 0.16, 1);
}

.rsRow-show {
	display: block;
}

.wraparound {
	opacity: 1;
}



/* SWIPE FEEDBACK LINES */

.swipe-right {
	animation: swipe_right 0.35s cubic-bezier(0, 1.12, .85, 1.01) 0s 1 normal forwards;
}

.swipe-left {
	animation: swipe_left 0.35s cubic-bezier(0, 1.12, .85, 1.01) 0s 1 normal forwards;
}

.swipe-up {
	animation: swipe_up 0.35s cubic-bezier(0, 1.12, .85, 1.01) 0s 1 normal forwards;
}

.swipe-down {
	animation: swipe_down 0.35s cubic-bezier(0, 1.12, .85, 1.01) 0s 1 normal forwards;
}


@keyframes swipe_right {
	0% {
		opacity: 0.5;
		transform: translateX(0vw);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateX(90vw);
	}
}

@keyframes swipe_left {
	0% {
		opacity: 0.5;
		transform: translateX(90vw);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateX(0vw);
	}
}

@keyframes swipe_up {
	0% {
		opacity: 0.5;
		transform: translateY(90vh);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(0vh);
	}
}

@keyframes swipe_down {
	0% {
		opacity: 0.5;
		transform: translateY(0vh);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(90vh);
	}
}


/* TITLES, RS TEXT, WORK METADATA */
.titlegrp-flex-flip {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.titleproject {
	opacity: 1;
	/* clip-path: inset(0% 0% 100% 0%); */
	/* animation-delay: 0s !important; */
}

#titleproject-bgblur {
	backdrop-filter: blur(2rem);
} 


.titlestudentnames {
	opacity: 1;
	/* clip-path: inset(0% 0% 100% 0%);	 */
}

.trevealleft {
	animation: title_reveal_left 2s cubic-bezier(0.14, 1.79, 0.43, 1) 0s 1
		normal forwards;
}

.trevealright {
	animation: title_reveal_right 2s cubic-bezier(0.14, 1.79, 0.43, 1) 0s 1
		normal forwards;
}
.trevealup {
	animation: title_reveal_up 2s cubic-bezier(0.14, 1.79, 0.43, 1) 0s 1 normal
		forwards;
}
.trevealdown {
	animation: title_reveal_down 2s cubic-bezier(0.14, 1.79, 0.43, 1) 0s 1
		normal forwards;
}
.trevealup-quick {
	animation: title_reveal_up 1s cubic-bezier(0.14, 1.79, 0.43, 1) 0s 1 normal
		forwards;
}
.trevealdown-quick {
	animation: title_reveal_down 1s cubic-bezier(0.14, 1.79, 0.43, 1) 0s 1
		normal forwards;
}

.thide {
	opacity: 0;
	animation: title_hide 1.75s cubic-bezier(0.14, 1.79, 0.43, 1) 0s 1 normal
		forwards;
	/* clip-path: inset(0% 0% 100% 0%); */
	/* transform: translate(0, 5rem); */
}

.rsrevealup {
	animation: rs_reveal_up 2s cubic-bezier(0.14, 1.79, 0.43, 1) 1s 1 normal forwards,
			   typewriterX 0.25s steps(15, end) 1s 1 normal forwards;
}
.rsrevealdown {
	animation: rs_reveal_down 2s cubic-bezier(0.14, 1.79, 0.43, 1) 1s 1 normal forwards,
			   typewriterX 0.25s steps(15, end) 1s 1 normal forwards;
}

/* DETAIL LINKBOX */

.detailgrp-linkbox-border {
	padding: 1em;
	border: 1px #fff solid;
	position: relative;
	background: #000;
	opacity: 0.75;
	z-index: 1;
}

.detailgrp-linkbox-border:before {
	content: '';
	display: block;
	position: absolute;
	background: #000;
	top: -1px;
	bottom: -1px;
	left: 0.75em;
	right: 0.75em;
}

.detailgrp-linkbox-border:after {
	content: '';
	display: block;
	position: absolute;
	background: #000;
	left: -1px;
	right: -1px;
	top: 0.75em;
	bottom: 0.75em;
}

.detailgrp-linkbox-show {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;	
}

.detailgrp-linkbox-hide {
	display: none;
}


/* WAYFINDER */
.wayfinder-bkt {
	opacity: 0;
}

/* #wayfinder-bkt-glow {
	filter: blur(0.5rem);
} */

.wayfinder-text-rs {
	/* mix-blend-mode: normal; */
	text-overflow: ellipsis;
	animation: typewriterX 0.75s steps(15, end) 0.3s 1 normal forwards;
}

.wayfinder-text-coursename {
	text-overflow: ellipsis;
	animation: blinkIn 0.5s steps(5, start) 0.75s 1 normal forwards;
}

.wayfinder-bkt-DFB {
	filter: brightness(0) saturate(100%) invert(48%) sepia(76%) saturate(1307%)
		hue-rotate(285deg) brightness(101%) contrast(104%);
}

.wayfinder-bkt-IME {
	filter: brightness(0) saturate(100%) invert(85%) sepia(92%) saturate(304%)
		hue-rotate(84deg) brightness(110%) contrast(107%);
}

.wayfinder-bkt-IFE {
	filter: brightness(0) saturate(100%) invert(80%) sepia(17%) saturate(7441%)
		hue-rotate(191deg) brightness(103%) contrast(105%);
}

.wayfinder-bkt-IXT {
	filter: brightness(0) saturate(100%) invert(75%) sepia(95%) saturate(356%)
		hue-rotate(11deg) brightness(108%) contrast(106%);
}

.wayfinder-bkt-SUF {
	filter: brightness(0) saturate(100%) invert(100%) sepia(30%) saturate(5283%)
		hue-rotate(57deg) brightness(125%) contrast(100%);
}

.wayfinder-bkt-MJP {
	filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%)
		contrast(100%);
}

.wayfinder-bkt-DFB-blur {
	filter: brightness(0) saturate(100%) invert(48%) sepia(76%) saturate(1307%)
		hue-rotate(285deg) brightness(101%) contrast(104%);
}

.wayfinder-bkt-IME-blur {
	filter: brightness(0) saturate(100%) invert(85%) sepia(92%) saturate(304%)
		hue-rotate(84deg) brightness(110%) contrast(107%);
}

.wayfinder-bkt-IFE-blur {
	filter: brightness(0) saturate(100%) invert(80%) sepia(17%) saturate(7441%)
	hue-rotate(191deg) brightness(103%) contrast(105%);
}

.wayfinder-bkt-IXT-blur {
	filter: brightness(0) saturate(100%) invert(75%) sepia(95%) saturate(356%)
		hue-rotate(11deg) brightness(108%) contrast(106%);
}

.wayfinder-bkt-SUF-blur {
	filter: brightness(0) saturate(100%) invert(100%) sepia(30%) saturate(5283%)
		hue-rotate(57deg) brightness(125%) contrast(100%);
}

.wayfinder-bkt-MJP-blur {
	filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%)
		contrast(100%);
}

.wayfinder-v-unit {
	transition: opacity 0.5s cubic-bezier(0, 0.8, 0.3, 1) 0s;
}

.wayfinderreveal {
	transition: transform 0.85s cubic-bezier(0, 0.8, 0.3, 1) 0s,
				opacity 0.25s ease-out 0.05s;
	opacity: 1;
	transform: scale(1);
}

.wayfinderhide {
	transition: transform 0.5s cubic-bezier(0.4, 0, 0.3, 1) 0s,
				opacity 0.25s ease-out 0.05s;
	opacity: 0;
	transform: scale(1.6);
}

#wayfinder-v {
	filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%)
		contrast(100%);
}

#wayfinder-h {
	transition: opacity 1s cubic-bezier(0, 0.8, 0.3, 1) 0s;
}

#wayfinder-h-scroll {
	transition: transform 0.5s cubic-bezier(0.4, 0, 0.3, 1) 0s,
				filter 0.5s ease-in-out 0s,
				opacity 0.5s ease-out 0.05s;
}


/* WORK IMAGE */
.collection-item {
	transform-style: preserve-3d;
}

.heroimage {
	opacity: 0;
	transform: scale(0.8);
	transition: transform 0.25s cubic-bezier(0.4, 0, 0.3, 1) 0s,
				opacity 0.25s ease-out 0s;
	display: none;
	backface-visibility: hidden;
}

.heroimage-show {
	display: block;
	/* visibility: hidden !important; */
}


.heroimage-reveal {
	opacity: 1;
	transform: scale(1);
}


/* PAGE CONTENT */

#pagecontent-home {
	transition: opacity 0.5s cubic-bezier(0.4, 0, 0.3, 1) 0s;
}

#pagecontent-about {
	/* clip-path: inset(0% 100% 0% 0%); */
	transition: clip-path 0.5s cubic-bezier(0.4, 0, 0.3, 1) 0s,
				transform 0.5s cubic-bezier(0.4, 0, 0.3, 1) 0s,
				opacity 1s cubic-bezier(0.4, 0, 0.3, 1) 0s;
}

#pagecontent-msg {
	/* clip-path: inset(0% 0% 0% 100%); */
	transition: clip-path 0.5s cubic-bezier(0.4, 0, 0.3, 1) 0s,
				transform 0.5s cubic-bezier(0.4, 0, 0.3, 1) 0s,
				opacity 1s cubic-bezier(0.4, 0, 0.3, 1) 0s;
}

.pagecontent-show {
	transform: translateX(0);
	clip-path: inset(0% 0% 0% 0%);
}

.pagecontent-about-hide {
	transform: translateX(-10rem);
	clip-path: inset(0% 100% 0% 0%);
}

.pagecontent-msg-hide {
	transform: translateX(10rem);
	clip-path: inset(0% 0% 0% 100%);
}




/* BLACKOUT */

#blackout-rear {
	opacity: 0;
	transition: opacity 0.5s cubic-bezier(0.4, 0, 0.3, 1) 0s;
}

#whiteout-rear {
	/* mix-blend-mode: lighten; */
	transition: opacity 0.5s cubic-bezier(0.4, 0, 0.3, 1) 0s;
}

#blackout-front {
	transition: opacity 0.5s cubic-bezier(0.4, 0, 0.3, 1) 0s;
}



/* STARFIELD CONTAINER */
#starfield {
	opacity: 0.5;
	transform: scale(0.1);
	transition: opacity 1.5s ease-in-out 0s,
				transform 1.5s ease-in-out 0s;
	animation: starfieldRotate 600s linear infinite;
}

/* CYBERGRID CONTAINER */
#cybergrid {
	opacity: 1;
	transition: transform 1.75s cubic-bezier(0.08, 1.35, 0.16, 1),
				opacity 0.5s ease-out 0s;
}

/* ONBOARDING */

#logotype-help {
	pointer-events: auto;
	opacity: 0;
	transition: opacity 2s ease-in-out;
}

.logotype-help-disable {
	pointer-events: none !important;
}

#pagecontent-home-hints {
	opacity: 0;
	transition: opacity 2s ease-in-out;
}


#onboardinggrp {
	pointer-events: none;
}

.onboarding-hide {
	opacity: 0;
	animation: none !important;
}

#onboarding-intro {
	opacity: 0;
	animation: onboard-intro 12s cubic-bezier(.31,1.1,.4,1.01) 2s;
}

.onboarding-intro-start {
	animation: onboard-intro 12s cubic-bezier(.31,1.1,.4,1.01) 0s;
}

#onboarding-aoc {
	opacity: 0;
}

.onboarding-aoc-start {
	animation: onboard-aoc 15s cubic-bezier(.31,1.1,.4,1.01) 0s;
}

#onboarding-vert {
	opacity: 0;
}

.onboarding-vert-start {
	animation: onboard-vert 5s forwards cubic-bezier(0.08, 1.35, 0.16, 1) ;
}

#onboarding-horiz {
	opacity: 0;
}

.onboarding-horiz-start {
	animation: onboard-horiz 5s forwards cubic-bezier(0.08, 1.35, 0.16, 1);
}

#onboarding-tap {
	opacity: 0;
}

.onboarding-tap-start {
	animation: onboard-tap 5s forwards cubic-bezier(0.08, 1.35, 0.16, 1);
}

@keyframes onboard-intro {
	0% {
		opacity: 0;
		transform: scale(1.5);
	}
	15% {
		opacity: 0.85;
		transform: scale(1);
	}
	80% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

@keyframes onboard-aoc {
	0% {
		opacity: 0;
		transform: scale(1.5);
	}
	15% {
		opacity: 0.85;
		transform: scale(1);
	}
	80% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

@keyframes onboard-vert {
	from {
		opacity: 0;
		transform: translate(0, 10vh);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes onboard-horiz {
	from {
		opacity: 0;
		transform: translate(10vh, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes onboard-tap {
	from {
		opacity: 0;
		transform: scale(0.6);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}




/* RS pattern texture */
#rs-underlay {
	/* mix-blend-mode: screen; */
	filter: brightness(30%);
}

.rs-underlay-flex {
	display: block;
	transform: scale(2) rotate3d(0, 0, 0, 0deg);
	opacity: 0;
	transition: transform 20s cubic-bezier(0.25, 0, 0.75, 1) 0s,
		opacity 0.5s ease-in-out 0.05s;
}

/* City background */
.cityrs {
	opacity: 0;
	/* transform: 'scale(2) rotate3d(1, 0, 0, 30deg)'; */
	/* transition: transform 3s cubic-bezier(0,1.01,.82,.47) 0s,
				opacity 3s cubic-bezier(0,1.01,.82,.47) 0s,
				filter 3s ease-in-out 1s;				 */
}

.cityrs-home-init {
	transition: transform 10s cubic-bezier(.35,0,.58,1) 0.2s,
				filter 8s ease-in-out 0s,
				opacity 8s ease-in-out 0s;
}	

.cityrs-home {
	transition: transform 1s cubic-bezier(.35,0,.58,1) 0.2s,
				filter 1s ease-in-out 0s,
				opacity 3s ease-in-out 0s;
}	

.cityrs-hide {
	/* transform: 'scale(2) rotate3d(0, 0, 0, 0deg)'; */
	transition: transform 1s cubic-bezier(0.4, 0, 0.3, 1) 0.2s,
				filter 0.5s ease-in-out 0s,
				opacity 1s ease-in-out 0s;
}

.cityrs-reveal {
	transition: transform 1s cubic-bezier(0.4, 0, 0.3, 1) 0s,
				filter 2s ease-in-out 0s,
				opacity 1s ease-in-out 0.05s;
}


/* HOME */
.logomdit {
	/* animation: opacityFlicker 3s steps(2, start) 0s infinite alternate forwards; */
	animation: opacityFlicker-logo 4s steps(2, start) 0s infinite alternate forwards;
}

.logomdit-gm {
	animation: opacityFlicker-logo-alt 4s steps(2, start) 0s infinite alternate forwards;
}

.logomditgrp {
	opacity: 0;
	transition: opacity 0.5s ease-in-out 0s;
}

.logotype-globalmobile {
	opacity: 0;
	transition: opacity 6s ease-in-out 0s;
}

.homenavtxt {
	opacity: 0.75;
	transition: transform 0.5s cubic-bezier(0.4, 0, 0.3, 1) 0.75s,
				clip-path 0.5s cubic-bezier(0.4, 0, 0.3, 1) 1s;
}

#hometxt-about {
	clip-path: inset(0% 0% 0% 100%);
	transform: translateX(15em);
}

#hometxt-msg {
	clip-path: inset(0% 100% 0% 0%);
	transform: translateX(-15em);
}


/* HOME-ABOUT */

#logoabout-globalmobile {
	animation: opacityFlicker 3s steps(2, start) 0s infinite alternate forwards;
}





/********* MEDIA QUERIES **********/

@media screen and (max-width: 767px) {
	.wayfinder-text-coursename {
		top: 42px;
		left: calc(100vw - 13px);
		bottom: auto;
		width: calc(100vh - 42px);
	}
} 

/* clip-path: inset(0% 0% 100% 0%); // HIDE */
/* clip-path: inset(0% 0% -10% 0%);	// SHOW */


/* ANIMATIONS */




@keyframes starfieldRotate {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(180deg) scale(2);
	}
	100% {
		transform: rotate(360deg) scale(1);
	}
}

@keyframes title_reveal_left {
	0% {
		clip-path: inset(0% 0% -10% 100%);
		transform: translate(-5rem, 0);
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	100% {
		clip-path: inset(-75% -75% -75% -75%);
	}
}

@keyframes title_reveal_right {
	0% {
		clip-path: inset(0% 100% -10% 0%);
		transform: translate(5rem, 0);
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	100% {
		clip-path: inset(-75% -75% -75% -75%);
	}
}

@keyframes title_reveal_up {
	0% {
		clip-path: inset(100% 0% -10% 0%);
		transform: translate(0, -5rem);
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	100% {
		clip-path: inset(-75% -75% -75% -75%);
	}
}

@keyframes title_reveal_down {
	0% {
		clip-path: inset(0% 0% 100% 0%);
		transform: translate(0, 5rem);
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	100% {
		clip-path: inset(-100% -100% -100% -100%);
	}
}

@keyframes title_hide {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	100% {
		/* clip-path: inset(0% 0% 100% 0%); */
		transform: translate(0, 5rem);
	}
}

@keyframes rs_reveal_up {
	0% {
		transform: translate(0, -5rem);
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes rs_reveal_down {
	0% {
		transform: translate(0, 5rem);
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}



@keyframes typewriterX {
	from {
		clip-path: inset(-50% 150% -50% -50%);
	}
	100% {
		clip-path: inset(-50% -50% -50% -50%);
	}
}

@keyframes blinkIn {
	0% {
		opacity: 0.2;
	}
	15% {
		opacity: 0;
	}
	20% {
		opacity: 0.2;
	}
	30% {
		opacity: 0.8;
	}
	100% {
		opacity: 0.9;
	}
}


@keyframes opacityFlicker {
	0% { opacity: 0.9; }
	5% { opacity: 0.95; }
	10% { opacity: 0.85; }
	15% { opacity: 0.96; }
	19% { opacity: 0.9; transform: skew(0) scale(1); }
	20% { opacity: 0.5; transform: skew(2deg, 0deg) scale(1.03); }
	21% { opacity: 0.88; transform: skew(0) scale(1);}
	25% { opacity: 0.97; }
	30% { opacity: 0.89; }
	35% { opacity: 0.88; }
	40% { opacity: 0.83; }
	50% { opacity: 0.95; }
	55% { opacity: 0.9; }
	60% { opacity: 1; }
	64% { transform: skew(0); }
	65% { opacity: 0.9; transform: skew(0deg, 1deg); }
	66% { transform: skew(0); }
	70% { opacity: 1; }
	75% { opacity: 0.94; }
	80% { opacity: 0.85; }
	85% { opacity: 0.89; }
	90% { opacity: 1; }
	95% { opacity: 0.97; }
	100% { opacity: 1; }
}


@keyframes opacityFlicker-logo {
	0% { opacity: 1; }
	5% { opacity: 0.97; }
	10% { opacity: 0.89; }
	15% { opacity: 0.88; }
	20% { opacity: 0.83; }
	25% { opacity: 0.95; }
	30% { opacity: 0.9; transform: skew(0) scale(1); }
	31% { opacity: 0.5; transform: skew(2deg, 0deg) scale(1.03); }
	32% { opacity: 0.88; transform: skew(0) scale(1);}
	33% { opacity: 1; }
	34% { opacity: 0; }
   100% { opacity: 0; }
}

@keyframes opacityFlicker-logo-alt {
	0% { opacity: 0; }
	33% { opacity: 0; }
	34% { opacity: 1; }
	35% { opacity: 0.9; transform: skew(0) scale(1); }
	36% { opacity: 0.5; transform: skew(2deg, 0deg) scale(1.03); }
	37% { opacity: 0.88; transform: skew(0) scale(1);}
	40% { opacity: 0.94; }
	45% { opacity: 0.85; }
	50% { opacity: 0.89; }
	55% { opacity: 1; }
	60% { opacity: 0.97; }  
	65% { opacity: 0.85; }
	70% { opacity: 1; }
	75% { opacity: 0.88; }
	80% { opacity: 0.83; }
	85% { opacity: 0.95; }
	90% { opacity: 0.94; }
	95% { opacity: 0.85; }
  	100% { opacity: 1; }
}